:root{
    --feed-width: 570px;
    --feed-height: 1024px;
}

.video-mock-0 {
    width: calc(var(--feed-width) * 0.9);
    height: calc(var(--feed-height) * 0.9);
}

.video-mock-1 {
    width: calc(var(--feed-width) * 0.66);
    height: calc(var(--feed-height) * 0.66);
}

.video-mock-2 {
    width: calc(var(--feed-width) * 0.5);
    height: calc(var(--feed-height) * 0.5);
}